 <div class="container-fluid">
      <div class="row-fluid">
       
        <div class="span8 offset1">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
         <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Account Options</li>
              <li><%= link_to "Home", root_path  %></li>
              <% if current_user %>
                <li><%= link_to "Profile Page", users_profile_path %></li>
                <li><%= link_to "Upload a Picture", new_picture_path  %></li>
              <% end %>
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Andrew House 2014</p>
      </footer>

    </div> <!-- /container -->